<div class="modal fade" bsModal #childModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <form
        #formRef="ngForm"
        (ngSubmit)="onSubmit(formRef.value)"

        class="show-form"
        >
          <div class="modal-header" style="background:#CCCCCC;">
            <h4 class="modal-title pull-left">{{ShowType}}{{Title}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label>系统编码</label>
              <input
              type="text"
              readonly
              class="form-control"
              [(ngModel)]="P.indexcode"
              name="indexcode"
              >
            </div>

            <div class="form-group has-feedback">
              <label>大类名称</label>
              <input
              type="text"
              name="indexname"
              class="form-control"
              placeholder="请输入大类名称 ..."
              id="indexname"
              [(ngModel)]="P.indexname"
              [ngModel]="P.indexname"
              (ngModelChange)="P.indexname = $event"
              #indexname="ngModel"
              required
              >
              <div [hidden]="indexname.valid || indexname.pristine" style="color:red">大类名称不可为空</div>

            </div>

            <div class="form-group">
              <label>备注信息</label>
              <textarea
              class="form-control"
              rows="3"
              placeholder="请输入 ..."
              [(ngModel)]="P.indexremark"
              name="indexremark"
              >
              </textarea>
            </div>

            <div class="form-group">
              <label>应用状态</label>
              <div class="radio" >
                <label *ngFor="let t of typeList" class="radio-inline">
                  <input type="radio" name="isdel" (change)="isdel=t.id" [checked]="isdel===t.id">{{t.name}}
                </label>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="hideChildModal()">关闭</button>
            <button type="submit" class="btn btn-primary">提交</button>
          </div>
        </form>
      </div>
    </div>
</div>
