<div class="wrapper">
  <app-top></app-top>
  <app-treeview treemodule="M2" treeitem="V2" ></app-treeview>
  <div class="content-wrapper">
    <app-navigation Showtitle="基础数据类别" Subtitle="设定基础数据类别" Web="站点"
    Module="M2模块" Page="基础数据类别" ></app-navigation>
    <section class="content" id ="content">
      <!--<div style="height:400px;">-->
        <wj-flex-grid #flexgrid1 [itemsSource]="cvPaging" auto-generate-columns="false" [itemFormatter]="itemFormatter">
          <wj-flex-grid-column [header]="''" [binding]="'check'" [width]="30"></wj-flex-grid-column>
          <wj-flex-grid-column [header]="'主键'" [binding]="'id'" [width]="60" [isReadOnly]="'true'"></wj-flex-grid-column>
          <wj-flex-grid-column [header]="'系统编码'" [binding]="'indexcode'" [width]="80" [isReadOnly]="'true'">
            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'"  let-cell="cell">
                <div style="text-align:center;"><a [routerLink]="['/business/m2/m2v3',cell.item.indexcode]">{{cell.item.indexcode}}</a></div>
            </ng-template>
          </wj-flex-grid-column>
          <wj-flex-grid-column [header]="'大类名称'" [binding]="'indexname'" [width]="200">
            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'"  let-cell="cell">
                <div style="text-align:center;"><a [routerLink]="['/business/m2/m2v3',cell.item.indexcode]">{{cell.item.indexname}}</a></div>
            </ng-template>
          </wj-flex-grid-column>
          <wj-flex-grid-column [header]="'备注信息'" [binding]="'indexremark'" [width]="'*'"></wj-flex-grid-column>
          <wj-flex-grid-column [header]="'应用状态'" [binding]="'isdel'" [width]="70" [isReadOnly]="'true'">
            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'"  let-cell="cell">
                <span [ngStyle]="{color:cell.item.isdel == 0 ?'green':'red'}">
                  {{cell.item.isdel==0?'启用':'禁用'}}
                </span>
            </ng-template>
          </wj-flex-grid-column>
          <wj-flex-grid-column [header]="'编辑状态'" [binding]="'isdelandedit'" [width]="70" [isReadOnly]="'true'">
            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'"  let-cell="cell">
                <span [ngStyle]="{color:cell.item.isdelandedit == 0 ?'green':'red'}">
                  {{cell.item.isdelandedit==0 ? '可编辑':'已锁定'}}
                </span>
            </ng-template>
          </wj-flex-grid-column>

        </wj-flex-grid>
        <app-paging [pageNews]="this.pageNews" (change)="bindpage($event)"></app-paging>
        <div style="float:right;">
          <button type="button" class="btn btn-primary" (click)="addnew()">添加数据</button>
          <button type="button" class="btn btn-primary" (click)="edit()">编辑数据</button>
          <button type="button" class="btn btn-primary" (click)="dellList()">批量删除</button>
          &nbsp;&nbsp;&nbsp;
        </div>
        <app-m2v2open #m2v2open Title="基础数据类别" (change)="bindpage(0)"></app-m2v2open>
      <!--</div>-->
    </section>
  </div>
  <app-footer></app-footer>
</div>

<!--
<wj-flex-grid-column [header]="'功能按钮'" [width]="70" [binding]="'button'" [isReadOnly]="'true'">
  <ng-template wjFlexGridCellTemplate [cellType]="'Cell'"  let-cell="cell">
    <div style="text-align:center;">
      <a *ngIf="cell.item.isdelandedit==0" [routerLink]="['/business/m2/m2v3',cell.item.indexcode]">编辑</a>
      <a *ngIf="cell.item.isdelandedit==2" onclick="this.edit()">编辑</a>
      <span *ngIf="cell.item.isdelandedit==1">编辑</span>
    </div>
  </ng-template>
</wj-flex-grid-column>
-->
