<div class="wrapper">
  <app-top></app-top>
  <app-treeview treemodule="M2" treeitem="V2" ></app-treeview>
  <div class="content-wrapper">
    <app-navigation Showtitle="基础数据类别" Subtitle="设定基础数据类别" Web="站点"
    Module="M2模块" Page="基础数据类别" ></app-navigation>
    <section class="content">
      <div style="_height:700px;min-height:700px;">
        <wj-flex-grid [itemsSource]="cvPaging" auto-generate-columns="false" [itemFormatter]="itemFormatter">
          <wj-flex-grid-column [header]="''" [binding]="'check'" [width]="30"></wj-flex-grid-column>
          <wj-flex-grid-column [header]="'主键'" [binding]="'id'" [width]="60" [isReadOnly]="'true'"></wj-flex-grid-column>
          <wj-flex-grid-column [header]="'系统编码'" [binding]="'indexcode'" [width]="80" [isReadOnly]="'true'"></wj-flex-grid-column>
          <wj-flex-grid-column [header]="'选项名称'" [binding]="'indexname'" [width]="200">
            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'"  let-cell="cell">
                <div><a [routerLink]="['/business/m2/m2v3']" [queryParams]="{id: cell.item.id}" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">{{cell.item.indexname}}</a></div>
            </ng-template>   
          </wj-flex-grid-column>
          <wj-flex-grid-column [header]="'备注信息'" [binding]="'indexremark'" [width]="'*'"></wj-flex-grid-column>
          <wj-flex-grid-column [header]="'应用状态'" [binding]="'isdel'" [width]="70" [isReadOnly]="'true'"></wj-flex-grid-column>
          <wj-flex-grid-column [header]="'编辑状态'" [binding]="'isdelandedit'" [width]="70" [isReadOnly]="'true'"></wj-flex-grid-column>
          <wj-flex-grid-column [header]="'功能按钮'" [width]="70" [binding]="'button'" [isReadOnly]="'true'"></wj-flex-grid-column>
        </wj-flex-grid>
        <app-paging [pageNews]="this.pageNews" (change)="bindpage($event)"></app-paging>

         <br/><br/>
         <!--
         我本来是想在表格内用链接，跳转到【类别详细页面】。但是Wijmo5是商业软件。
         目前是2107年6月21日。我用的是30天体验版。厂家无支持，无文档。我在网上找不到任何关联的资料，目前先这样。
         <br/><br/>
         留给以后的人，要是以后公司购买了wijmo5软件，有了官方技术文档在解决吧。
         -->

         <!-- < a routerLink="/business/m2/m2v3">
         { { cell.item.indexname } }</a>
         -->


         <button type="button" class="btn btn-primary" (click)="staticModal.show()">Static modal</button>

          <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
               tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Static modal</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  This is static modal, backdrop click will not close it.
                  Click <b>&times;</b> to close modal.
                </div>
              </div>
            </div>
          </div>

      </div>

    </section>
  </div>
  <app-footer></app-footer>
</div>
