<div class="login-box" style="background-color:#ADADAD;">
  <div class="login-logo">
    <b>Angular4 App</b> by LTE
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body" style="border:9px solid #ADADAD;">
    <p class="login-box-msg"><b>登录系统</b></p>

    <form
    #formRef="ngForm"
    (ngSubmit)="onSubmit(formRef.value)"
    class="show-form"
    >
      <div class="form-group has-feedback">
        <input
        type="text"
        name="username"
        class="form-control"
        placeholder="用户名"
        id="username"
        required
        [(ngModel)]="username"
        [ngModel]="username"
        (ngModelChange)="username = $event"
        #name="ngModel"
        #spy
        >
      </div>
      <div class="form-group has-feedback">
        <input
        type="password"
        name="password"
        class="form-control"
        placeholder="密码"
        id="password"
        required
        [(ngModel)]="password"
        [ngModel]="password"
        (ngModelChange)="password = $event"
        #pass="ngModel"
        >
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div  *ngIf="auth?.hasError" style="color:red"><b>{{auth.errMsg}}</b></div>
          <div [hidden]="name.valid || name.pristine" style="color:red">用户名为空</div>
          <div [hidden]="pass.valid || pass.pristine" style="color:red">密码为空</div>
          <!-- class="alert alert-danger" -->
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

  </div>
  <!-- /.login-box-body -->
</div>

<div class="login-box" style="font-size:20px;">
 用户名：aaa
 <br/>密码：000000
</div>
