<div class="wrapper">
  <app-top></app-top>
  <app-treeview treemodule="M1" treeitem="V1" ></app-treeview>
  <div class="content-wrapper">
    <app-navigation Showtitle="表单和表单提交" Subtitle="表单控件和提交获取" Web="站点"
    Module="M1模块" Page="表单和表单提交" ></app-navigation>
    <section class="content" id="content">
      <div class="row">
        <div class="col-md-6">
          <div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">表单元素</h3>
            </div>

            <div class="box-body">
              <form
              #formRef="ngForm"
              (ngSubmit)="onSubmit(formRef.value)"
              role="form"
              >

                <!-- text input -->
                <div class="form-group">
                  <label>文本框</label>
                  <input type="text"
                  class="form-control"
                  placeholder="请输入 ..."
                  [(ngModel)]="text1"
                  name="text1"
                  >
                </div>

                <!-- textarea -->
                <div class="form-group">
                  <label>文本区域</label>
                  <textarea
                  class="form-control"
                  rows="3"
                  placeholder="请输入 ..."
                  [(ngModel)]="textarea1"
                  name="textarea1"
                  ></textarea>
                </div>

                <!-- checkbox -->
                <div class="form-group">
                  <label>多选框</label>
                  <div class="checkbox" *ngFor="let t of checkboxList">
                    <label>
                      <input type="checkbox"
                      value="{{t.id}}" #cv [checked]=false
                      name="checkbox1"
                      (change)="onChange(t.id,cv.checked)">
                      {{t.name}}
                    </label>
                  </div>
                </div>

                <!-- radio -->
                <div class="form-group">
                  <label>单选框</label>
                  <div class="radio" *ngFor="let t of typeList">
                    <label>
                      <input type="radio" (change)="radio1=t.id" name="radio1" [checked]="radio1===t.id">{{t.name}}
                    </label>
                  </div>
                </div>

                <!-- select   [(ngModel)]="" -->
                <div class="form-group">
                  <label>单选下拉框</label>
                  <select class="form-control" [(ngModel)]="comId"
                  (ngModelChange)="comId=$event;" name="select1">
                    <option [value]="c.id" *ngFor="let c of comIdList">{{c.name}}</option>
                  </select>
                </div>

                <!-- Select multiple-->
                <div class="form-group">
                  <label>多选下拉框</label>
                  <select multiple class="form-control" [(ngModel)]="comIdlist" name="select2" (ngModelChange)="comIdlist=$event;">
                    <option [value]="c.id" *ngFor="let c of comIdList">{{c.name}}</option>
                  </select>
                </div>

                <div class="box-footer">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>

              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box box-warning">
          {{title}}
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-footer></app-footer>
</div>
