<div class="wrapper">
  <app-top></app-top>
  <app-treeview treemodule="M0" treeitem="V1" ></app-treeview>
  <div class="content-wrapper">
    <app-navigation Showtitle="欢迎页面" Subtitle="欢迎页面副标题" Web="站点"
    Module="模块" Page="欢迎页面" ></app-navigation>
    <section class="content" id="content">

      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">对应的angular版本</span>
              <span class="info-box-number">Ngx-bootstrap</span>

              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
                  <span class="progress-description">
                    需要使用特效的时候使用
                  </span>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">皮肤库</span>
              <span class="info-box-number">Admin LTE</span>

              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
                  <span class="progress-description">
                    所有页面上都使用
                  </span>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-yellow">
            <span class="info-box-icon"><i class="fa fa-calendar"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">控件集Wijmo5</span>
              <span class="info-box-number">Flex Grid</span>

              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
                  <span class="progress-description">
                    有表格的地方使用
                  </span>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-red">
            <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">SSM的后台接口</span>
              <span class="info-box-number">REST Ful规则</span>

              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
                  <span class="progress-description">
                    数据交互地方需要
                  </span>
            </div>
          </div>
        </div>
      </div>

      项目使用Angular4框架开发，前端使用 AdminLte 皮肤。后端采用SSM框架的RestFul接口获取数据。包含以下一些三方库的引用。
      <strong>Wijmo 5</strong>  主要是用里面的flexgrid表格。
      <strong>AdminLte 皮肤</strong> 整个项目的皮肤，下载皮肤后切分到angular4 组件内。
      <strong>ngx-bootstrap</strong> 特效用。
      <strong>Jquery</strong> 或许会用到，所以加上。
      <br/><br/>
      Wijmo 5,AdminLte,ngx-bootstrap。里面都有很多很炫的特效。Angular4负责整合。
      目前没必要用到，先做好整体协调的。需要炫的时候自己挑选，在附加即可。

    </section>
  </div>
  <app-footer></app-footer>
</div>
