#container {
    width: 700px;
    height: 400px;
    background-color: #f5fffa;
    margin: 0 auto;
    margin-top: 30px;
}

path{
    fill: none;
    stroke: cornflowerblue;
    stroke-width: 2px;
}

.domain,.tick line {
    stroke: gray;
    stroke-width: 1px;
}

.inner_line path, .inner_line line {
  fill: none;
  stroke:#E7E7E7;
  shape-rendering: crispEdges;
}
