<div class="modal fade" bsModal #childModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <form
        #formRef="ngForm"
        (ngSubmit)="onSubmit(formRef.value)"
        role="form"
        >
          <div class="modal-header">
            <h4 class="modal-title pull-left">{{ShowType}}{{Title}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label>子类编码</label>
              <input type="text" readonly
              class="form-control"
              placeholder=""
              [(ngModel)]="P.code"
              name="code">
            </div>

            <div class="form-group">
              <label>子类名称</label>
              <input
              type="text"
              name="name"
              class="form-control"
              placeholder="请输入 ..."
              id="name"
              [(ngModel)]="P.name"
              [ngModel]="P.name"
              (ngModelChange)="P.name = $event"
              #name="ngModel"
              required
              >
              <div [hidden]="name.valid || name.pristine" style="color:red">子类名称不可为空</div>
            </div>

            <!-- textarea -->
            <div class="form-group">
              <label>备注信息</label>
              <textarea
              class="form-control"
              rows="3"
              placeholder="请输入 ..."
              [(ngModel)]="P.remark"
              name="remark">
            </textarea>
            </div>

            <div class="form-group">
              <label>排序ID</label>
              <input type="text"
              class="form-control"
              placeholder="请输入数字 ..."
              [(ngModel)]="P.orderid"
              name="orderid"
              (keydown)="onKeyPress($event)">
            </div>

            <div class="form-group">
              <label>应用状态</label>
              <div class="radio">
                <label *ngFor="let t of typeList" class="radio-inline">
                  <input type="radio" name="radio" (change)="radio=t.id" [checked]="radio===t.id">{{t.name}}
                </label>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="hideChildModal()">关闭</button>
            <button type="submit" class="btn btn-primary">提交</button>
          </div>
        </form>
      </div>
    </div>
</div>
