<div class="wrapper">
  <app-top></app-top>
  <app-treeview treemodule="M2" treeitem="V4" ></app-treeview>
  <div class="content-wrapper" style="height:auto;">
    <app-navigation Showtitle="M2V4页面标题" Subtitle="页面副标题" Web="站点"
    Module="M2模块" Page="M2V4显示页面" ></app-navigation>
    <section class="content" id="content">
      <div style="_height:100%;min-height:100%;">
        M2V4显示页面

        <alert type="success">hello</alert>

        <alert type="success">
          <strong>Well done!</strong> You successfully read this important alert message.
        </alert>
        <alert type="info">
          <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
        </alert>
        <alert type="warning">
          <strong>Warning!</strong> Better check yourself, you're not looking too good.
        </alert>
        <alert type="danger">
          <strong>Oh snap!</strong> Change a few things up and try submitting again.
        </alert>


      </div>
    </section>
  </div>
  <app-footer></app-footer>
</div>
